@font-face {
    font-family: butler;
    src: url(./fonts/butler/Butler/Butler_Black.otf);
}
@font-face {
    font-family: futurak;
    src: url(./fonts/futurak.ttf);
}
.about-cont-1 {
    font-size: 1.5rem;
    margin-top: 100px;
   margin-left: 250px;
   margin-right: 250px;
}
main .futurak{
    font-family: futurak;
    font-size: 3rem;
}

main .bold{
    font-size: 3rem;
}
.ab-h1 {
    font-family: butler;
    font-size: 4rem;
}
.ab-para {
    padding: 0px 300px;
    font-size: 1.6rem;
   
   
}
.about-cont-2 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 12px;
}
.iop {
    width: 300px;
    background-color: #0D0D0D;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100%;
    height: 200px;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content p {
    font-size: 1.5rem;
    margin: 5px 0;
    line-height: 1.4;
  }
  main .village-section{
    margin-bottom: 100px;
  }